/*Paul Irish CSS Box Sizing*/
/* apply a natural box layout model to all elements, but allowing components to change */


@import url("themes/smart.css");

html {
    box-sizing: border-box;
    background: var(--color-azul);
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: var(--color-azul);
    color: var(--color-textos-1);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--color-verde);
}


.btnSubmit {
    width: 170px;
}
.btnSubmit .loader {
    height: 1.7rem;
    position: absolute;
    right: 1rem;
    display: none;
}

/************* Buttons *************/
.btn.btn-light-secondary, .btn.btn-secondary {
    margin-right: .5rem;
}
.btn-primary {
    background: var(--color-verde) !important;
    color: var(--color-blanco) !important;
    transition: all .3s;
    border-color: var(--color-verde);
}
.btn-primary:hover {
    background: var(--color-verde) !important;
    border-color: var(--color-verde);
}

.btn.btn-light {
    /*background: #0c1633  !important;*/
    background: var(--color-alternativo)  !important;
    color: #fff !important;
}

.btn-light-secondary {
    background-color: var(--color-textos-4) !important;
    color: var(--color-blanco) !important;
}




/************* End Buttons *************/


/************* Validation Messages *************/
.invalid-feedback {
    color: var(--color-rojo);
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: var(--color-rojo);
}
/************* End Validation Messages *************/



.content .burger-btn {
    color: var(--color-verde) !important;
}




/********************************************************************
*
*   POPUPS
*
*********************************************************************/
.swal2-popup {
    background-color: var(--color-fondo-modal) !important;
}
.tpl-table {
    margin-top: 1rem;
    font-size: .9rem;
    text-align: left
}
.tpl-table tr td {
    padding: .3rem !important;
}
.tpl-table tbody tr td:first-child {
    font-weight: bold;
}
.tpl-table__question {
    margin-top: 1.5rem;
    color: #268bd2;
}
.tpl-options h5 {
    color: #268bd2;
}



/********************************************************************
*
*   TOAST
*
*********************************************************************/
.toastify {
    width: 450px !important;
    text-align: center;
}



/********************************************************************
*
*   LEVEL INDICATOR
*
*********************************************************************/
.level-card i,
.level-card svg {
    fill: var(--color-item-sidebar-acive);
    color: var(--color-item-sidebar-acive);
}
.level-points {
    color: var(--color-textos-2);
}
.level-indicator {
    border: 1px solid var(--color-textos-1);
    margin: 1rem 0;
    color: var(--color-blanco);
    padding: .2rem;
    text-align: center;
    border-radius: .25rem;
}
.level-assign {
    color: var(--color-textos-2);
    font-size: .9rem;
}



/********************************************************************
*
*   MODALS
*
*********************************************************************/
.modal-content {
    background-color: var(--color-fondo-modal) !important;
}
.modal-header {
    background-color: var(--color-verde) !important;
}
.modal-body {
    padding-top: 2rem !important;
}
.modal-title {
    color: var(--color-blanco) !important;
}
.modal-footer {
    border-top-color: transparent !important;
}
.modal .modal-header .close {
    display: none;
}
#modalTableResults {
    max-height: 185px;
    margin-top: 2rem;
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
}
#modalTableResults tbody {
    display: block;
    max-height: 185px;
    overflow-y: scroll;
}
#modalTableResults tbody tr, #modalTableResults thead {
    display: table;
    width: 100%;
    /*table-layout: fixed;*/
}
#modalTableResults thead {
    width: calc(100% - .8rem);
}
#modalTableResults thead th {
    background-color: var(--color-header-table);
    color: var(--color-blanco);
}
#modalTableResults tbody td,  #modalTableResults thead th{
    width: 18% !important;
}
#modalTableResults tbody tr td:nth-child(1),
#modalTableResults tbody tr td:nth-child(2),
#modalTableResults thead tr th:nth-child(1),
#modalTableResults thead tr th:nth-child(2)
{
    width: 32% !important;
}
#modalTableResults tbody tr:nth-child(odd) td {
    background-color: var(--color-blanco) !important;
}
#modalTableResults tbody tr:nth-child(even) td {
    background-color: var(--color-fondo-modal) !important;
}
#modalTableResults>:not(caption)>*>* {
    border-bottom-width: 0px;
}
.modal-footer .search-messages {
    color: vaR(--color-textos-1);
    padding: .3rem .5rem;
    display: none;
    font-size: .9rem;
}
.modal-footer .search-messages i {
    color: #dd8615
}




/********************************************************************
*
*   CHECKBOX
*
*********************************************************************/
.form-check .form-check-input {
    background-color: inherit;
    border-color: var(--color-verde);
}
.form-check-label:hover {
    cursor: pointer;
}
.form-check-input:checked {
    background-color: var(--color-verde);
    border-color: var(--color-verde);
}




/********************************************************************
*
*   MAIN HEADER
*
*********************************************************************/
.main-header p {
    color: var(--color-textos-2);
}
.main-header {
    position: relative;
    z-index: 10; /*FIX - capa para oscurecer imagen de fondo en la sección de contenido principal*/
}


/********************************************************************
*
*   LOGIN
*
*********************************************************************/
.login {
    background: var(--color-azul);
    height:100vh;
    overflow-x:hidden
}
.login .form-group[class*=has-icon-] .form-control-icon {
    top: .5rem !important;
    transform: translateY(0) !important;
}
.login .login-right {
    background: var(--color-verde);
    background-image: url("../../images/patterns/overlay6.png");
    height:100%;
}
.login .login-left .auth-logo {
    margin-bottom:7rem
}
.login .login-left .auth-logo img {
    width: 350px;
    height: auto;
}
.login .logotipo {
    width: 80%;
}
.login .login-left {
    padding: 5rem 4rem;
}
.login .loader {
    height: 1.7rem;
    display: none;
    position: absolute;
    top: .5rem;
    left: calc(50% - 3.8rem);
}
.login .login-messages {
    margin-top: 2rem;
    color: var(--color-rojo);
    text-align: center;
}
.login .login-left .auth-title {
    font-size:4rem;
    margin-bottom:1rem
}
.login .auth-subtitle {
    color: var(--color-textos-2);
    font-size:1.7rem;
    line-height:2.5rem;
}
@media screen and (min-width: 1560px) {
    .login .auth-left {
        padding: 5rem 8rem;
    }
}







/********************************************************************
*
*   PANEL DE CONTROL
*
*********************************************************************/
.card-dashboard .col-4 {
    min-height: 160px;
}
.card-dashboard i {
    font-size: 5rem !important;
    left: .5rem;
    color: var(--color-verde);
    transition: all .4s;
}
.card-dashboard h6 {
    transition: all .4s;
}
.card-dashboard p {
    font-size: .9rem;
    color: var(--color-textos-2);
    transition: all .4s;
}
.card-dashboard  {

}
.card-dashboard:hover i,
.card-dashboard:hover h6 {
    color: var(--color-item-sidebar-acive) !important;
}
.card-dashboard:hover p {
    color: var(--color-textos-1);
}
.dashboard-footer {
    font-size: .9rem;
}

/********************************************************************
*
*   SIDEBAR
*
*********************************************************************/
.sidebar-menu {
    margin-top: -2rem;
}
.sidebar .sidebar-wrapper.active{
    background: var(--color-verde);
}
.sidebar-title {
    color: var(--color-azul) !important;
}
.sidebar .sidebar-wrapper .sidebar-header img {
    height: 100px;
    max-width: 100%;
}
.sidebar .sidebar-wrapper .menu .sidebar-link {
    color: var(--color-azul);
}
.sidebar .sidebar-wrapper .menu .submenu .submenu-item a {
    color: var(--color-azul);
}
.sidebar .sidebar-wrapper .menu .submenu .submenu-item a i,
.sidebar .sidebar-wrapper .menu .submenu .submenu-item a svg
{
    fill: var(--color-iconos-sidebar);
    color: var(--color-iconos-sidebar);
}
.sidebar-wrapper .menu .sidebar-link:hover {
    background-color: var(--color-azul);
    color: var(--color-textos-1);
}
.sidebar-wrapper .menu .sidebar-link:hover i,
.sidebar-wrapper .menu .sidebar-link:hover svg {
    fill: var(--color-textos-1) !important;
    color: var(--color-textos-1) !important;
}
.sidebar .sidebar-wrapper .menu .submenu .submenu-item.active>a {
    color: var(--color-item-sidebar-acive);
}
.sidebar .sidebar-wrapper .menu .submenu .submenu-item.active>a i,
.sidebar .sidebar-wrapper .menu .submenu .submenu-item.active>a svg {
    fill: var(--color-item-sidebar-acive);
    color: var(--color-item-sidebar-acive);
}
.sidebar .sidebar-wrapper .menu .sidebar-link i,
.sidebar-wrapper .menu .sidebar-link svg {
    color: var(--color-iconos-sidebar);
}
.sidebar .sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: var(--color-azul);
}
.sidebar-wrapper .menu .sidebar-item.active .sidebar-link i,
.sidebar-wrapper .menu .sidebar-item.active .sidebar-link svg {
    fill: var(--color-icono-sidebar-active) !important;
    color: var(--color-icono-sidebar-active) !important;
}
.sidebar-wrapper .menu .sidebar-item.active .sidebar-link span {
    color: var(--color-icono-sidebar-active) !important;
}




/********************************************************************
*
*   CARD CERTIFICATE
*
*********************************************************************/
.certificate {

}
.certificate__title {
    margin-top: 1rem;
    font-size: .9rem;
    text-transform: uppercase;
}
.certificate__subtitle {
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color-textos-2);
}
.certificate__description {
    font-size: .9rem;
    color: var(--color-textos-1);
}
.certificate__list {
    display: flex;
    /*justify-content: space-between;*/
    margin: 1.5rem 0 1rem;
    font-size: .9rem;
}
.certificate__item {
    color: var(--color-texto-iconos-tarjetas);
}
.certificate__item:first-child {
    margin-right: 2rem;
}
.certificate__item i {
    color: var(--color-verde);
    margin-right: .3rem;
}
.certificate__image {
    border-radius: .25rem;
}
.certificate__rules {
    font-size: .8rem;
}
.certificate__rules-title {
    font-size: .9rem;
    cursor: pointer;
}
.certificate__rules-item {
    padding-left: 1rem;
    display: none;
}


/********************************************************************
*
*   CARDS AND BENEFITS
*
*********************************************************************/
.cardBenefit {
    margin-top: 2rem;
}
.cardBenefit h5 {
    margin: 1.5rem 0 1rem;
    text-transform: uppercase;
}
.cardBenefit p {
    color: var(--color-textos-1);
    font-size: .9rem;
}
.cardBenefit span {
    color: var(--color-verde);
    font-size: .8rem;
}
.cardBenefit i {
    color: var(--color-verde);
}
.cardBenefit p span {
    color: var(--color-texto-iconos-tarjetas);
}



/********************************************************************
*
*   NOT FOUND REWARDS
*
*********************************************************************/
.messageNotFoundRewards {

}
.messageNotFoundRewards i {
    color: var(--color-verde);
    font-size: 1.3rem;
}
.messageNotFoundRewards p {
    color: var(--color-textos-2);
}




/********************************************************************
*
*   SIMPLE DATATABLES
*
*********************************************************************/
.history-table-nav {
    margin-bottom: 0 !important;
    font-size: 1rem;
}
.list-group-horizontal-sm>.list-group-item:first-child {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0 !important;
}
.list-group-item.active {
    background-color: var(--color-verde);
    border-color: var(--color-verde);
    color: var(--color-blanco);
}
.pagination.pagination-primary .page-item.active .page-link {
    background-color: var(--color-verde);
    border-color: var(--color-verde);
}
.history-table-container {
    background-color: var(--color-fondo-datatables);
    padding: 1rem;
    font-size: 1rem;
}
.list-group-item-action {
    color: var(--color-text-tabs);
}
.history-table-container label {
    color: var(--color-text-tabs) !important;
}
.dataTable-info {
    color: var(--color-text-tabs) !important;
}
.dataTable-dropdown label:last-child {
    display: none; /*FIX - SimpleDatatables no elimina este tag al momento de la traducción */
}
.page-link {
    background-color: var(--color-blanco);
    color: var(--color-text-tabs);
}



/********************************************************************
*
*   PREVIEW (CERTIFICATE AND BENEFIT)
*
*********************************************************************/
.preview {
    display: none;
}



/********************************************************************
*
*   USER INFORMATION ACCOUNT
*
*********************************************************************/
.form-data-user {
    font-size: 1.2rem;
    color: var(--color-textos-1);
}
.form-data-user i {
    color: var(--color-verde);
}



/********************************************************************
*
*   FORM CONTROLS
*
*********************************************************************/
.required {
    color: var(--color-rojo) !important;
}
.form-registrarUsuario {

}
.form-registrarUsuario label {
    color: var(--color-textos-1);
    margin-bottom: .3rem;
}
.form-registrarUsuario .required {
    color: var(--color-rojo) !important;
}
.form-registrarUsuario .levelCard {
    display: none;
}
::placeholder {
    color: #c6c6c6 !important;
}
.form-control,
.form-select {
    border-color: var(--color-textos-2);
}
.form-control.is-valid,
.form-select.is-valid {
    padding-right: 1rem;
    background-image: none;
    border-color: var(--color-valid);
}
.form-control.is-valid#password,
.form-control.is-valid#confirm_password
{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23198790' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E")
}
.form-control:focus,
.form-select:focus,
.form-select.is-valid:focus, .was-validated .form-select:valid:focus,
.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
    border-color: var(--color-valid);
    box-shadow: 0 0 0 0.25rem rgba(0,142,171,.25);
}
.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {

    background-color: var(--color-valid);
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: var(--color-rojo);
    box-shadow: 0 0 0 0.25rem rgba(176,8,8,.25);
}
.form-control.is-invalid {
    padding-right: 1rem;
    background-image: none;
}
.form-select.is-invalid,
.form-select.is-valid {
    padding-right: 1rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E") !important;
}


/********************************************************************
*
*   PAGE 404
*
*********************************************************************/
.error404 {
    height:100vh;
    background-color: var(--color-azul);
    padding-top:5rem
}
.error404 .img-error {
    width:100%
}
.error404 .error-title {
    font-size:4rem;
    margin-top:3rem
}
.btn-outline-primary {
    color: var(--color-verde);
    border-color: var(--color-verde);
}
.btn-outline-primary:hover {
    color: var(--color-blanco);
    background-color: var(--color-verde);
    border-color:  var(--color-verde);
}



/********************************************************************
*
*   GIFTS LIST
*
*********************************************************************/
.listado-premios__title-error {
    font-size: 3rem;
    margin: 2rem 0 1rem;
}
.listado-premios__message {
    margin-bottom: 2rem;
}



/********************************************************************
*
*   CARD REPORTS
*
*********************************************************************/
.card-report {
    background-color: var(--color-blanco);
    padding: 1rem;
    border-radius: .25rem;
    position: relative;
}
.card-report__icon {
    position: absolute;
    background-color: var(--color-verde);
    width: 100px;
    height: 100px;
    top: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
}
.card-report__icon i {
    color: var(--color-blanco);
    font-size: 3rem;
}
.card-report__title {
    font-size: 1rem;
    font-weight: lighter;
    text-align: right;
}
.card-report__subtitle {
    text-align: right;
    font-size: 3rem;
    margin: 0 !important;
    line-height: 1;
}
.card-report__link {
    font-size: .8rem;
    color: var(--color-textos-1);
    transition: all .3s;
}
.card-report__link:hover {
    color: var(--color-verde)
}
.card-report__link i {
    color: var(--color-rojo);
}
.card-report hr {
    margin: .8rem 0;
    background-color: var(--color-textos-2);
    border-bottom-color: var(--color-textos-2);
}




.chart-report {
    background-color: var(--color-blanco);
    padding: 1rem;
    border-radius: .25rem;
}

.inform {
    margin-bottom: 1rem;
}
.inform__icon {
    height: 60px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: deepskyblue;*/
    border-radius: .25rem;
    margin-right: 1.5rem;
}
.inform__icon i {
    /*color: var(--color-blanco);*/
    font-size: 2.5rem;
}
.inform__title {
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}
.inform__description {

}
.inform__subtitle {
    color: var(--color-textos-1);
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    line-height: 1;
}


/************* Content *************/
.content {
    background: var(--color-azul);
    min-height: 100vh;
}
.content .burger-btn {
    color: var(--color-blanco);
}

/************* End Content *************/






.page-heading--tickets {
    background-image: url("../../images/svg/tickets.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.page-heading--tickets::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
    background-color: var(--color-azul);
    /*background-color: #121f3d;*/
    /*background-color: rgba(0,0,0,.7);*/
}
.page-title, .section {
    position: relative;
    z-index: 1;
}





/* Estilos Patrones invalidos */
/*input:invalid {
    border-color: var(--color-rojo) !important;
}
input:valid {
    border-color: transparent !important;
}*/



.card-info {
    background-color: var(--color-blanco);
    border-radius: .25rem;
    padding: 1rem;
}
.card-info__logo {
    font-size: 3.5rem;
    color: var(--color-textos-2);
}
.card-info__title {
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.card-info__subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
}