* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}
@page
{
    size: auto;   /* auto is the current printer page size */
    margin: 0mm;  /* this affects the margin in the printer settings */
}
body {
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem;
}
p {
    margin-bottom: .5rem;
}

table {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem 0;
    width: 100%;
}
table thead th, table tfoot td {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    padding: .5rem 0;
}
table thead tr th:first-child {
    text-align: left;
}

.uppercase {
    text-transform: uppercase;
}
table td {
    text-align: center;
    padding: .2rem 0;
    width: 80px;

}
table tbody td {
    text-transform: uppercase;
}

table tbody tr:first-child td{
    padding-top: .8rem;
}
table tbody tr:last-child td {
    padding-bottom: .8rem;
}
table tr td:first-child {
    text-align: left;
    width: auto;
}
.copyright {
    font-size: 10px;
    margin-top: 1rem;
}
.firma {
    width: 50%;
    text-align: center;
    margin: 100px auto 20px;
}
.reprint {
    margin: 1.5rem 0;
}
hr {
    border-bottom: 1px solid #000;
    margin-bottom: .5rem;
}
img {
    width: 180px;
    display: block;
    margin: 0 auto 1.5rem;
}
body img:first-child {
    margin-bottom: 1rem;
}