/*CSS Variables*/
:root {
    --color-1: #ffffff;

    /*Color de balance*/
    --color-verde: #06a3c2;
    --color-alternativo: #2E586E;


    --color-verde-hover: #006271;

    /*Fondo principal */
    --color-azul: #efefef;

    --color-rojo: #b00808;
    --color-valid: #008eab;
    --color-gris-rgb: 46,88,110;
    --color-blanco: #ffffff;
    /*  --color-textos: #7c8db5;*/

    /*Color textos principales*/
    --color-textos-1: #8b8e92;

    /*Color subtitulos*/
    --color-textos-2: #b3a294;

    /*Color iconos cards*/
    --color-texto-iconos-tarjetas: #b3a294;
    --color-iconos-sidebar: #dfdfdf;
    --color-icono-sidebar-active: #b3a294;
    --color-item-sidebar-acive: #0dcaf0;

    --color-textos-3: #2E586E;
    --color-textos-4: #adadad;
    /*#0dcaf0*/

    --color-fondo-modal: #efefef;

    /* Datatables */
    --color-fondo-datatables: #fff;
    --color-text-tabs: #8b8e92;

    /*Search Modal Table Results*/
    --color-header-table: #999999;
}