/*CSS Variables*/

:root {
    --color-1: #ffffff;
    --color-verde: #98ca3f;
    --color-azul: #121f3d;
    --color-rojo: #ff5555;
    --color-gris-rgb: 46,88,110;
    --color-blanco: #ffffff;
    /*  --color-textos: #7c8db5;*/

    --color-textos-1: #a8aebb;
    --color-textos-2: #7c8db5;
    --color-textos-3: #2E586E;
    --color-textos-4: #adadad;

    --color-fondo-modal: #F1F1F1;
    --color-fondo-datatables: #f4f4f4;

    --color-text-tabs: #495057;
}